@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'CranberryJam';
    src: url('../fonts/CranberryJamSerif.woff2') format('woff2'), url('../fonts/CranberryJamSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*........ specification ........*/

html {
    font-size: 1vw;
}

body {
    font-family: Noto Sans;
    color: #000;
    margin: 0;
    padding: 0;
}

div,
p,
form,
input,
a,
span,
button {
    box-sizing: border-box;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.h1 {
    color: rgb(35, 81, 137);
    font-family: CranberryJam;
    font-size: 4rem;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
}

.h2,
.newsContent-block h2 {
    color: #235189;
    font-family: 'CranberryJam';
    font-size: 3rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.09rem;
    position: relative;
    &::after {
        content: "";
        width: 8.75rem;
        height: 0.125rem;
        margin: auto;
        display: block;
        background: #009A93;
    }
}

a,
a:hover,
a:active {
    text-decoration: none;
}

a,
button,
input {
    transition: all 0.5s ease;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 73.125rem;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.btn-main,
.wp-block-button .wp-block-button__link {
    width: -moz-max-content;
    width: max-content;
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: .25rem;
    background: #009a93;
    gap: 1rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    align-items: center;
}

.btn-main svg {
    width: 1.9375rem;
    height: 1.9375rem;
}

.wp-block-button .wp-block-button__link {
    position: relative;
}

.wp-block-button .wp-block-button__link:after {
    content: "";
    display: block;
    background: url(../img/white-arrow.svg) no-repeat center top/cover;
    width: 1.8rem;
    height: 1.8rem;
}

.wp-block-buttons {
    width: 100%;
}

.btn {
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}


/* --------- Header --------- */

.navigation {
    padding: 0.625rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    &__logo {
        width: 6.875rem;
    }
    &__block {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 1rem;
        &>li {
            font-size: 0.875rem;
            line-height: 1.125rem;
            letter-spacing: 0.0262rem;
            font-family: 'CranberryJam';
            text-transform: uppercase;
            &>a {
                color: #235189;
            }
            .sub-menu {
                display: none;
            }
            &.menu-item-has-children {
                position: relative;
                display: flex;
                align-items: center;
                gap: 0.3125rem;
                &::after {
                    content: "▼";
                    display: block;
                    color: #235189;
                    font-size: 0.9375rem;
                }
            }
        }
    }
}

.offer {
    padding: 6.6875rem 0 5rem;
    position: relative;
    &__title {
        h1 {
            color: #FDFDFF;
            font-family: CranberryJam;
            font-size: 2.75rem;
            line-height: 3.75rem;
            letter-spacing: 0.0825rem;
            text-transform: uppercase;
            position: absolute;
            max-width: 37.5rem;
            top: -5.1875rem;
            left: 6.25rem;
            z-index: 2;
            span {
                color: #235189;
                font-size: 4rem;
                font-weight: 400;
                line-height: 130%;
                letter-spacing: 0.12rem;
            }
        }
    }
    &-slider {
        overflow: hidden;
        max-width: 66.875rem;
        position: relative;
        &__button {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: -0.25rem;
            right: 0;
            z-index: 1;
            button {
                position: static;
                width: max-content;
                background: transparent;
                height: auto;
                &::after {
                    display: none;
                }
            }
        }
    }
    &__btn {
        bottom: 3.5rem;
        position: absolute;
        left: 6.25rem;
        z-index: 2;
    }
    .container {
        position: relative;
    }
    &-menu {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-180deg);
        li a {
            font-size: 0.875rem;
            line-height: 1.125rem;
            letter-spacing: 0.0262rem;
            font-family: 'CranberryJam';
            text-transform: uppercase;
            color: #235189;
        }
    }
}

.header__elements {
    position: absolute;
    top: -3rem;
    z-index: -1;
    width: 100%;
    svg {
        height: 100%;
        max-height: 51rem;
    }
}

.quote__block {
    background: #D9FCF8;
    max-width: 60.5625rem;
    width: 100%;
    margin: auto;
    padding: 2.5rem 4.875rem;
    color: #283C54;
    font-family: "Noto Sans";
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 140%;
}

.benefits {
    padding: 3.75rem 0;
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 3.125rem;
    }
    &-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__content {
            max-width: 29.375rem;
            width: 100%;
            position: relative;
            h2 {
                color: #235189;
                font-family: CranberryJam;
                font-size: 1.5rem;
                line-height: 150%;
                letter-spacing: 0.03rem;
                padding-bottom: 0.875rem;
                position: relative;
                font-weight: 400;
                &::after {
                    display: block;
                    content: "";
                    background: #009A93;
                    width: 8.6421rem;
                    height: 0.125rem;
                }
            }
            p {
                color: #000;
                font-family: "Noto Sans";
                font-size: 1rem;
                line-height: 1.5rem;
                max-width: 23.9375rem;
            }
            a {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        &__img {
            width: 49%;
        }
        &:nth-child(2n+2) {
            flex-direction: row-reverse;
            text-align: end;
            & a {
                transform: rotate(180deg);
                right: auto;
            }
            & h2::after {
                margin-left: auto;
            }
            & p {
                margin-left: auto;
            }
        }
    }
}

.program {
    padding: 1.875rem 0 2.8125rem;
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1.875rem;
        grid-row-gap: 1.875rem;
        margin-top: 2.375rem;
    }
    &-card {
        background: #FDFDFF;
        box-shadow: 0rem 0.25rem 1.875rem 0rem rgba(22, 49, 82, 0.12);
        padding: 2.1875rem 1.875rem 1.5rem;
        &__title {
            color: #163152;
            font-family: "Noto Sans";
            font-size: 1.25rem;
            font-weight: 500;
            text-align: center;
        }
        img {
            margin: 1.4375rem 0 1.75rem;
        }
        p {
            margin-bottom: 0.625rem;
        }
        & p,
        & ul li {
            color: #283C54;
            font-family: "Noto Sans";
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 110%;
        }
        ul li {
            display: flex;
            align-items: center;
            gap: 0.4125rem;
            &::before {
                content: "";
                width: 0.5rem;
                height: 0.5904rem;
                background: #009A93;
                display: block;
                border-radius: 50%;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 0.7375rem;
            min-height: 13.125rem;
            justify-content: center;
        }
        &__price {
            display: flex;
            justify-content: space-between;
            color: #163152;
            font-family: "Noto Sans";
            font-size: 1.125rem;
            font-weight: 500;
            margin: 1.25rem 0 0.9375rem;
        }
        a {
            margin: auto;
        }
    }
}

.service {
    .container {
        position: relative;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3.75rem;
    }
    &__item {
        width: 50%;
        &.mini .service-card {
            max-width: 23.125rem;
            width: 100%;
            margin: 5rem auto 0;
            &__link {
                justify-content: space-between;
            }
            img {
                height: 26.75rem;
                object-fit: cover;
            }
        }
        &:nth-child(2n+1) {
            margin: auto auto 5rem;
        }
        &:last-child .service-card {
            margin: -5rem auto 0;
        }
    }
    &-card {
        img {
            height: 25.375rem;
        }
        &__link {
            display: flex;
            align-items: center;
            gap: 3.125rem;
            margin-top: 1.375rem;
            color: #0E0E0E;
            font-family: "Noto Sans";
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 150%;
        }
    }
    &__btn {
        position: absolute;
        bottom: 0;
        right: 9.8rem;
    }
}

.btn-more {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: rgb(0, 154, 147);
    font-family: Noto Sans;
    font-size: 1rem;
    font-weight: 400;
    width: max-content;
    padding: 1rem 2.4375rem;
    border: 0.0625rem solid rgb(0, 154, 147);
    border-radius: 0.25rem;
}

.btn-more svg {
    width: 1rem;
}

.about {
    padding: 3.5625rem 0 2.5rem;
    &__left {
        max-width: 26.875rem;
        h2 {
            width: 11.6875rem;
        }
        p {
            color: rgb(40, 60, 84);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.75rem;
            margin: 1.4375rem 0 0.9375rem;
        }
    }
    &__right {
        max-width: 34.6875rem;
    }
    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__btn {
        margin: 2.3125rem auto 0;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem 1.875rem;
        justify-content: space-between;
        li {
            width: 47%;
            margin: 1.0625rem 0 0.4375rem;
            img {
                width: 3.75rem;
            }
            h3 {
                color: rgb(22, 49, 82);
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 150%;
                margin: 1.0625rem 0 0.4375rem;
            }
            p {
                color: rgb(40, 60, 84);
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.375rem;
            }
        }
    }
}

.news {
    padding-bottom: 2.8125rem;
    &-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 1.875rem;
        margin-top: 2.25rem;
        grid-row-gap: 1.6875rem;
    }
    &-card:first-child {
        grid-row: span 2;
        width: 48.125rem;
    }
    &__title {
        text-align: center;
    }
    &-card {
        &:first-child img {
            height: auto;
        }
        img {
            height: 8.125rem;
            object-fit: cover;
        }
        &__subtitle {
            color: rgba(40, 60, 84, 0.5);
            font-family: Noto Sans;
            font-size: 0.75rem;
            font-weight: 600;
        }
        &:first-child &__subtitle {
            font-size: 0.875rem;
        }
        &__title {
            color: rgb(22, 49, 82);
            font-family: CranberryJam;
            font-size: 1.5rem;
            line-height: 150%;
            font-weight: 400;
            letter-spacing: 0.1875rem;
        }
        &:first-child &__title {
            font-size: 3rem;
        }
        &__text {
            color: rgb(40, 60, 84);
            font-family: Noto Sans;
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        &:first-child &__text {
            font-size: 1rem;
            line-height: 1.75rem;
            width: 39.375rem;
        }
        &__block {
            padding: 0.625rem 1.25rem 1.875rem;
            box-shadow: 0px 4px 30px 0px rgba(22, 49, 82, 0.12);
            background: rgb(253, 253, 255);
            position: relative;
        }
        &:first-child &__block {
            padding: 0.9375rem 2.5rem 3.75rem 2.5rem;
        }
        &__date {
            margin-top: 1.875rem;
            color: rgba(40, 60, 84, 0.5);
            font-family: Noto Sans;
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.375rem;
        }
        &:first-child &__date {
            font-size: 1rem;
            margin-top: 3.125rem;
        }
        &__icon {
            position: absolute;
            right: 2.5rem;
            bottom: 1.4375rem;
            svg {
                width: 1.0625rem;
            }
        }
        &:first-child &__icon {
            bottom: 3.4375rem;
            svg {
                width: 1.625rem;
            }
        }
        &:nth-child(2),
        &:nth-child(3) {
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }
}

.grafic {
    padding-bottom: 4.875rem;
    &__title {
        text-align: center;
    }
    &-table {
        margin-top: 3.5rem;
        &__head,
        &__row {
            display: flex;
            align-items: center;
            span {
                width: 33%;
                color: rgb(22, 49, 82);
                font-family: Noto Sans;
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.375rem;
                display: block;
                padding: 0.9375rem 0 0.9375rem 3.75rem;
            }
        }
        &__column {
            padding: 0.9375rem 0 0.9375rem 3.75rem;
            width: 33%;
            color: rgb(40, 60, 84);
            font-family: Noto Sans;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.375rem;
        }
        &__row {
            &:nth-child(odd) {
                background: rgb(217, 252, 248);
            }
        }
    }
}

.specialists {
    padding: 4rem 0;
    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &-content {
        max-width: 31.875rem;
        width: 100%;
        &__title {
            font-size: 1.85rem;
            line-height: 150%;
            &::after {
                width: 16.875rem;
                margin: 0.875rem 0 0;
            }
        }
        &__text {
            color: rgb(40, 60, 84);
            font-family: Noto Sans;
            font-size: 1rem;
            max-width: 19.6875rem;
            width: 100%;
            font-weight: 400;
            line-height: 1.75rem;
            margin: 0.9375rem 0 1.1875rem;
        }
    }
    &__img {
        max-width: 37.5rem;
        width: 100%;
    }
    &-form__fields {
        label {
            display: block;
            color: rgb(40, 60, 84);
            font-size: 1rem;
            line-height: 1.75rem;
            margin-bottom: 0.25rem;
            input {
                width: 100%;
                border: 0.0625rem solid rgba(22, 49, 82, 0.15);
                opacity: 0.8;
                padding: 0.6875rem 0.75rem;
                color: rgb(40, 60, 84);
                font-size: 1rem;
            }
            span {
                display: block;
                color: rgb(40, 60, 84);
                margin-bottom: 0.25rem;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
    &-form__checkbox {
        margin: 1.25rem 0 1.25rem;
        span {
            color: rgb(40, 60, 84);
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1rem;
            display: flex;
            align-items: center;
            gap: 0.625rem;
            position: relative;
            &::before {
                content: '';
                width: 1.25rem;
                height: 1.25rem;
                border: 0.0625rem solid rgb(22, 49, 82);
                opacity: 0.15;
                display: block;
            }
        }
        input {
            position: absolute;
            opacity: 0;
            &:checked+span::after {
                content: "";
                position: absolute;
                left: 0.1875rem;
                top: 0.1875rem;
                width: 0.9375rem;
                height: 1rem;
                background: #163152;
                opacity: 0.9;
                border-radius: 0.0625rem;
            }
        }
    }
    &-form__btn {
        padding: 0.75rem 0;
        border-radius: 0;
    }
}

.contact {
    padding: 8.75rem 0 10rem;
    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__map {
        max-width: 35.625rem;
        width: 100%;
        height: 21.875rem;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    &__content {
        max-width: 27.1875rem;
        width: 100%;
        h2 {
            text-align: center;
        }
    }
    &-list {
        display: flex;
        flex-direction: column;
        margin-top: 1.25rem;
        gap: 0.9375rem;
        li {
            display: flex;
            align-items: center;
            gap: 0.625rem;
        }
        span {
            color: rgb(22, 49, 82);
            font-size: 1rem;
            font-weight: 600;
        }
        a {
            color: rgb(0, 0, 0);
            font-size: 1rem;
            font-weight: 400;
            text-decoration: underline;
        }
    }
    &-social {
        margin-top: 0.9375rem;
        span {
            color: rgb(22, 49, 82);
            font-size: 1rem;
            font-weight: 600;
        }
        ul {
            display: flex;
            align-items: center;
            gap: 0.9375rem;
            margin-top: 0.8125rem;
        }
    }
}

.footer {
    padding: 1.875rem 0 0.9375rem;
    border-top: 1px solid rgba(22, 49, 82, 0.1);
    &__wrap {
        display: flex;
        align-items: center;
    }
    &__left {
        max-width: 17.5rem;
        width: 100%;
    }
    &-logo {
        width: 9.875rem;
        border: 0.1875rem dotted rgba(22, 49, 82, 0.1);
        padding: 0.625rem;
        margin-left: 1.875rem;
    }
    &-text {
        margin-top: 1.5625rem;
        color: rgb(40, 60, 84);
        font-size: 0.875rem;
        line-height: 1.375rem;
        max-width: 13.875rem;
        width: 100%;
        text-align: center;
        a {
            color: rgb(40, 60, 84);
            text-decoration: underline;
        }
    }
    &__right {
        display: flex;
        gap: 3.3125rem;
        width: 100%;
        margin-left: 3.5rem;
    }
    &-form {
        max-width: 31.0625rem;
        width: 100%;
        &__title {
            color: rgb(23, 15, 73);
            font-family: Noto Sans;
            font-size: 1.25rem;
            font-weight: 500;
            text-align: center;
        }
        &__text {
            margin: 1.5rem 0 0.5rem;
            color: rgb(22, 49, 82);
            font-family: Noto Sans;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.375rem;
            text-align: center;
        }
        &__block {
            border: 0.0625rem solid rgb(239, 240, 247);
            border-radius: 0.25rem;
            box-shadow: 0rem 0.125rem 0.375rem 0rem rgba(19, 18, 66, 0.07);
            background: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.9375rem;
        }
        &__btn {
            padding: 0.5rem 1.875rem;
            input {
                background: transparent;
                border: transparent;
                color: rgb(255, 255, 255);
                font-family: Noto Sans;
                font-size: 1rem;
                padding: 0;
                font-weight: 400;
            }
        }
        &__field {
            color: rgb(111, 108, 144);
            font-family: Noto Sans;
            font-size: 0.875rem;
            font-weight: 400;
            border: none;
        }
    }
    &__bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        span {
            display: block;
            color: rgb(40, 60, 84);
            font-family: Noto Sans;
            font-size: 0.875rem;
            font-weight: 400;
        }
    }
    &-block {
        &__title {
            color: rgb(22, 49, 82);
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 0.3125rem;
        }
        &__menu li a {
            color: rgb(40, 60, 84);
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.breadcrumbs {
    padding: 0.9375rem 0 3.125rem;
    &__block {
        display: flex;
        align-items: center;
        gap: 0.3125rem;
        a {
            color: rgb(22, 49, 82);
            font-size: 1rem;
            &:last-child {
                opacity: 0.4;
            }
        }
        span {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: rgb(0, 154, 147);
        }
    }
}

.newsContent__image {
    float: right;
    width: 37.5rem;
    margin: 0 0 3.75rem 3.75rem;
}

.newsContent-nav {
    clear: both;
    float: right;
    width: 12.5rem;
    margin: 0 10.625rem 5rem 6.6875rem;
    border-top: 0.125rem solid rgb(0, 154, 147);
    &__title {
        color: rgb(22, 49, 82);
        font-family: CranberryJam;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 150%;
        padding: 0.9375rem 0;
    }
    &__list {
        li {
            display: flex;
            padding: 0.9375rem 0;
            gap: 0.625rem;
            align-items: center;
            border-bottom: 0.0625rem solid rgb(229, 229, 229);
            &:first-child {
                border-top: 0.0625rem solid rgb(229, 229, 229);
            }
            a {
                color: rgb(22, 49, 82);
                font-size: 0.875rem;
                font-weight: 400;
            }
        }
    }
}

.newsContent-block p {
    color: rgb(40, 60, 84);
    font-size: 1.125rem;
    line-height: 140%;
}

.newsContent-block h1 {
    color: rgb(22, 49, 82);
    font-family: CranberryJam;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3.125rem;
    line-height: 130%;
}

.newsContent-block h2 {
    width: max-content;
    margin-bottom: 1.25rem;
    &:after {
        margin: 0;
        width: 21.75rem;
    }
}

.newsContent-block>ul li,
.wp-block-column>ul li,
.indications-card ul li {
    color: rgb(22, 49, 82);
    font-size: 1rem;
    font-weight: 400;
    &::before {
        content: "";
        background: url(../img/star_icon.svg) no-repeat center top/cover;
        width: 0.875rem;
        height: 0.875rem;
        display: inline-block;
        margin-right: 0.4375rem;
    }
    strong {
        display: inline-block;
        margin-bottom: 0.625rem;
    }
}

.newsContent-block>ul,
.wp-block-column>ul,
.indications-card ul {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    margin: 0.625rem 0;
}

.quote-block {
    max-width: 64.25rem;
    width: 100%;
    margin: 3.125rem auto;
    padding: 3.5625rem 8rem;
    background: rgb(245, 245, 250);
    position: relative;
    &__text {
        color: rgb(40, 60, 84);
        font-family: Noto Sans;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 150%;
        font-style: italic;
    }
    &__signature {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0.4375rem;
        line-height: 1.375rem;
    }
    svg {
        width: 3.5rem;
        height: 3.25rem;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.article {
    padding: 2.5rem 0 5rem;
    &-list {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1.875rem;
        grid-row-gap: 1.875rem;
    }
    &-card {
        box-shadow: 0rem 0.25rem 1.875rem 0rem rgba(22, 49, 82, 0.12);
        background: rgb(253, 253, 255);
        &__content {
            padding: 2.1875rem 0.9375rem 1.5625rem;
            display: flex;
            flex-direction: column;
            min-height: 14.4375rem;
            justify-content: space-between;
            h3 {
                color: rgb(22, 49, 82);
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.375rem;
                margin-bottom: 0.625rem;
            }
            p {
                color: rgb(40, 60, 84);
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.375rem;
            }
        }
        &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            svg {
                width: 1.0625rem;
            }
        }
        &__data {
            color: rgba(40, 60, 84, 0.5);
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1rem;
        }
    }
    &__title {
        width: max-content;
        &.h2::after {
            content: "";
            width: 20.75rem;
            margin: 0;
        }
    }
    .container {
        border-top: 0.0625rem solid rgba(22, 49, 82, 0.082);
        padding-top: 2.5rem;
    }
}

.howItWorks {
    h2 {
        margin: auto;
    }
    &__block {
        display: flex;
        margin-top: 4.0625rem;
        gap: 1.875rem;
    }
    &-table {
        max-width: 665px;
        width: 100%;
        &__item {
            padding: 1.5rem 0;
            display: flex;
            align-items: center;
            &:not(:last-child) {
                border-bottom: 1px solid rgb(22, 49, 82);
            }
        }
        &__title {
            color: rgb(22, 49, 82);
            font-family: CranberryJam;
            font-size: 24px;
            font-weight: 600;
            line-height: 150%;
            width: 50%;
        }
        &__text {
            color: rgb(22, 49, 82);
            font-family: Noto Sans;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.375rem;
            width: 50%;
        }
    }
    &-img {
        max-width: 29.375rem;
        width: 100%;
    }
}

.wp-block-heading.has-text-align-center {
    margin: auto auto 1.25rem;
}

body .wp-block-buttons-is-layout-flex {
    display: block!important;
}

.wp-block-buttons-is-layout-flex.is-content-justification-center {
    display: flex!important;
}

.indications {
    padding: 3.75rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6.25rem;
    grid-row-gap: 6.25rem;
    max-width: 65rem;
    margin: auto;
    width: 100%;
    &-card {
        padding: 1.5625rem 2.8125rem;
        min-height: 20rem;
        background: rgb(253, 253, 255);
        &.indication {
            box-shadow: inset 0px 3px 20px 0px rgb(0, 198, 189);
            background: rgb(253, 253, 255);
        }
        &.contraindications {
            box-shadow: inset 0px 3px 20px 0px rgb(255, 71, 126);
        }
        h3 {
            color: rgb(35, 81, 137);
            font-family: CranberryJam;
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;
        }
    }
}

.indications-card.contraindications ul li {
    &::before {
        background: url(../img/star_icon_red.svg) no-repeat center top/cover;
    }
}

.pocedure {
    padding-bottom: 3.125rem;
    h2 {
        text-align: center;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1.875rem;
        grid-row-gap: 3.125rem;
        margin-top: 2.8125rem;
    }
    &-card {
        box-shadow: 0px 4px 30px 0px rgba(22, 49, 82, 0.12);
        background: rgb(253, 253, 255);
        display: block;
        img {
            height: 12.5rem;
            object-fit: cover;
        }
        div {
            padding: 1.75rem 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 8.125rem
        }
        h3 {
            color: rgb(22, 49, 82);
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.375rem;
        }
        svg {
            width: 1.4rem;
        }
    }
}

.aboutPage {
    padding: 1.875rem 0;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        max-width: 35.3125rem;
        width: 100%;
        div p {
            color: rgb(40, 60, 84);
            font-family: Noto Sans;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 140%;
        }
        button {
            margin: 1.25rem auto 0;
            svg {
                width: 1.9375rem;
            }
        }
    }
    &__img {
        max-width: 35.625rem;
        width: 100%;
        object-fit: cover;
    }
}

.gallery {
    padding: 4.375rem 0;
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2.8125rem;
        img {
            width: 100%;
            height: 23.9375rem;
            object-fit: cover;
        }
    }
}

.licenses {
    &_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.1875rem;
        grid-row-gap: 2.1875rem;
        margin-top: 2.8125rem;
        a {
            display: block;
            padding: 1.75rem 1.4375rem;
            box-shadow: 0rem 0.25rem 1.875rem 0rem rgba(22, 49, 82, 0.12);
            background: rgb(253, 253, 255);
        }
    }
}

.contactBlock {
    padding: 5.3125rem 0 3.125rem;
    &__list li {
        display: flex;
        align-items: center;
        gap: 0.9375rem;
        p,
        a {
            color: rgb(40, 60, 84);
            font-family: Noto Sans;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.375rem;
        }
        span {
            color: rgb(22, 49, 82);
            font-family: Noto Sans;
            font-size: 1.25rem;
            font-weight: 500;
        }
    }
    &__social {
        margin-top: 2.0625rem;
        margin-left: 5rem;
        display: flex;
        gap: 2rem;
        li {
            a {
                display: block;
                width: 4.25rem;
            }
        }
    }
}

.team {
    &__list {
        margin-top: 2.1875rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.125rem;
        grid-row-gap: 2.375rem;
    }
    &-card {
        display: block;
        padding: 1.75rem 1.4375rem 1.5rem;
        box-shadow: 0rem 0.25rem 1.875rem 0rem rgba(22, 49, 82, 0.12);
        background: rgb(253, 253, 255);
        img {
            object-fit: cover;
            height: 100%;
        }
        &__title {
            color: rgb(22, 49, 82);
            font-family: CranberryJam;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 150%;
            margin: 0.5rem 0 0.375rem;
        }
        &__description {
            color: rgb(22, 49, 82);
            font-family: Noto Sans;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

.profile {
    padding: 1.875rem 0 4.375rem;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &-content {
        max-width: 35.3125rem;
        width: 100%;
        &__title {
            margin-bottom: 1.25rem;
        }
        &__text {
            color: rgb(40, 60, 84);
            font-family: Noto Sans;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 140%;
        }
        button {
            margin-top: 3.75rem;
        }
    }
    &__img {
        max-width: 35.5rem;
        object-fit: cover;
    }
}

.modalForm {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.31);
    &-block {
        max-width: 37.5rem;
        padding: 1.6875rem 4.8125rem;
        width: 100%;
        background: #fff;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        &__title {
            color: rgb(22, 49, 82);
            font-family: CranberryJam;
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;
            position: relative;
            &::after {
                content: "";
                width: 17.75rem;
                height: 0.125rem;
                margin: 0.3125rem auto 0;
                display: block;
                background: #009a93;
            }
        }
        &__form {
            label {
                margin-top: 1.25rem;
                display: block;
                span {
                    color: rgb(40, 60, 84);
                    font-family: Noto Sans;
                    font-size: 1rem;
                    font-weight: 400;
                }
                input {
                    display: block;
                    margin-top: 0.625rem;
                    width: 100%;
                    color: rgb(40, 60, 84);
                    font-family: Noto Sans;
                    font-size: 1rem;
                    font-weight: 400;
                    padding: 0.75rem;
                    border: 0.0625rem solid rgb(22, 49, 82);
                    opacity: 0.5;
                }
            }
        }
        &__checkbox {
            margin-top: 1.25rem;
            input {
                opacity: 0;
                position: absolute;
            }
            input:checked+span::before {
                background: #009a93;
            }
            span {
                display: flex;
                align-items: center;
                gap: 0.625rem;
                color: rgb(40, 60, 84);
                font-family: Noto Sans;
                font-size: 0.75rem;
                font-weight: 400;
                &::before {
                    content: "";
                    display: block;
                    border: 0.0625rem solid rgb(22, 49, 82);
                    opacity: 0.15;
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
        &__btn {
            color: rgb(253, 253, 255);
            font-family: Noto Sans;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            border: 0.125rem solid rgb(0, 154, 147);
            background: rgb(0, 154, 147);
            padding: 0.8125rem 0;
            margin-top: 1.25rem;
        }
    }
}

.btn-mob {
    display: none;
    background: transparent;
}