/* Adaptation */

/*992-1200px*/
@media screen and (max-width: 1200px) {

}

/*768-992px*/
@media screen and (max-width: 992px) {
.container {
	width: 700px;
}

}

/*576-768px*/
@media screen and (max-width: 768px) {
.container {
	width: 520px;
}

}

/*320-576px*/
@media screen and (max-width: 576px) {
.container {
	width: 90%;
}

}